* {
    box-sizing: border-box;
}

root {
    font-size: 16px;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 25px;
    line-height: 1;
}

.page-container {
    width: 575px;
    margin-inline: auto;
    
}

nav {
    width: 100%;
    background-color: #F55A5A;
    font-size: 14px;
    color: #fff;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
 }

.logo-container {
    width: 350px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.posts-container {
    width: 550px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 30px;
}

.posts-container img {
    width: 180px;
    object-fit: cover;
    border-radius: 6px;
   
}

.post-article {
    width: 340px;
}


.post-article .map-marker {
    width: 10px;
}

.location {
    color: #2B283A;
    font-size:  12px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .17em;
}
.map-link {
    color: #918E9B;

}
.date {
    font-size: .8rem;
    font-weight: 600;
}

.description {
    font-size: .8rem;
}